In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
pd.set_option('precision', 7)

In [3]:
cd C:\Jupyter WorkSpace\JiangSu Dataflow\lstm

C:\Jupyter WorkSpace\JiangSu Dataflow\lstm

In [56]:
# 16年3月到9月的数据清洗合成
df1 = pd.DataFrame(pd.read_excel('16.39.xlsx',sep = '|',encoding='GBK'))
df1.rename(columns={u'时间':'Date',u'地市':'Place',u'流量（Gb）':'DataflowByDay_4G_GB'},inplace = True)
df1 = df1.groupby(df1['Place'])
for name,groupData in df1:
    if name.encode('utf-8') == '镇江':
        f1 = pd.DataFrame(groupData)
        f1.drop('Place',axis = 1, inplace = True)
        f1['time'] = f1['Date'].apply(lambda x:str(x.encode('utf-8')).split()[0])
        f1.index = pd.to_datetime(f1['time'])
        f1.index.rename('Date',inplace = True)
        f1.drop({'Date','time'},axis = 1, inplace = True)
f1

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DataflowByDay_4G_GB</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-03-01</th>
      <td>240857.8771</td>
    </tr>
    <tr>
      <th>2016-03-02</th>
      <td>248391.7896</td>
    </tr>
    <tr>
      <th>2016-03-03</th>
      <td>253861.2700</td>
    </tr>
    <tr>
      <th>2016-03-04</th>
      <td>257971.5934</td>
    </tr>
    <tr>
      <th>2016-03-05</th>
      <td>255652.5447</td>
    </tr>
    <tr>
      <th>2016-03-06</th>
      <td>248696.6450</td>
    </tr>
    <tr>
      <th>2016-03-07</th>
      <td>251763.7425</td>
    </tr>
    <tr>
      <th>2016-03-08</th>
      <td>266719.3972</td>
    </tr>
    <tr>
      <th>2016-03-09</th>
      <td>248741.6238</td>
    </tr>
    <tr>
      <th>2016-03-10</th>
      <td>253652.6563</td>
    </tr>
    <tr>
      <th>2016-03-11</th>
      <td>252645.3883</td>
    </tr>
    <tr>
      <th>2016-03-12</th>
      <td>267819.0063</td>
    </tr>
    <tr>
      <th>2016-03-13</th>
      <td>264885.3467</td>
    </tr>
    <tr>
      <th>2016-03-14</th>
      <td>258295.3864</td>
    </tr>
    <tr>
      <th>2016-03-15</th>
      <td>264018.4244</td>
    </tr>
    <tr>
      <th>2016-03-16</th>
      <td>271301.6459</td>
    </tr>
    <tr>
      <th>2016-03-17</th>
      <td>275734.7687</td>
    </tr>
    <tr>
      <th>2016-03-18</th>
      <td>287634.6842</td>
    </tr>
    <tr>
      <th>2016-03-19</th>
      <td>277208.9490</td>
    </tr>
    <tr>
      <th>2016-03-20</th>
      <td>264054.0001</td>
    </tr>
    <tr>
      <th>2016-03-21</th>
      <td>261692.1507</td>
    </tr>
    <tr>
      <th>2016-03-22</th>
      <td>265350.2479</td>
    </tr>
    <tr>
      <th>2016-03-23</th>
      <td>270040.1843</td>
    </tr>
    <tr>
      <th>2016-03-24</th>
      <td>281361.5197</td>
    </tr>
    <tr>
      <th>2016-03-25</th>
      <td>276567.0776</td>
    </tr>
    <tr>
      <th>2016-03-26</th>
      <td>274625.4962</td>
    </tr>
    <tr>
      <th>2016-03-27</th>
      <td>265591.9927</td>
    </tr>
    <tr>
      <th>2016-03-28</th>
      <td>254666.4135</td>
    </tr>
    <tr>
      <th>2016-03-29</th>
      <td>266294.2664</td>
    </tr>
    <tr>
      <th>2016-03-30</th>
      <td>278397.0051</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th>2016-07-31</th>
      <td>412810.2391</td>
    </tr>
    <tr>
      <th>2016-08-01</th>
      <td>316701.1527</td>
    </tr>
    <tr>
      <th>2016-08-02</th>
      <td>310992.4292</td>
    </tr>
    <tr>
      <th>2016-08-03</th>
      <td>328556.9295</td>
    </tr>
    <tr>
      <th>2016-08-04</th>
      <td>308435.8887</td>
    </tr>
    <tr>
      <th>2016-08-05</th>
      <td>337850.4227</td>
    </tr>
    <tr>
      <th>2016-08-06</th>
      <td>349580.0095</td>
    </tr>
    <tr>
      <th>2016-08-07</th>
      <td>333252.0458</td>
    </tr>
    <tr>
      <th>2016-08-08</th>
      <td>341580.4140</td>
    </tr>
    <tr>
      <th>2016-08-09</th>
      <td>371414.3177</td>
    </tr>
    <tr>
      <th>2016-08-12</th>
      <td>356927.0931</td>
    </tr>
    <tr>
      <th>2016-08-13</th>
      <td>353585.1756</td>
    </tr>
    <tr>
      <th>2016-08-14</th>
      <td>354066.2760</td>
    </tr>
    <tr>
      <th>2016-08-15</th>
      <td>349288.7068</td>
    </tr>
    <tr>
      <th>2016-08-16</th>
      <td>355767.6769</td>
    </tr>
    <tr>
      <th>2016-08-17</th>
      <td>354411.4715</td>
    </tr>
    <tr>
      <th>2016-08-18</th>
      <td>335285.7667</td>
    </tr>
    <tr>
      <th>2016-08-19</th>
      <td>356949.7601</td>
    </tr>
    <tr>
      <th>2016-08-20</th>
      <td>366210.5997</td>
    </tr>
    <tr>
      <th>2016-08-21</th>
      <td>361876.0278</td>
    </tr>
    <tr>
      <th>2016-08-22</th>
      <td>330483.8364</td>
    </tr>
    <tr>
      <th>2016-08-23</th>
      <td>347341.7037</td>
    </tr>
    <tr>
      <th>2016-08-24</th>
      <td>347323.2332</td>
    </tr>
    <tr>
      <th>2016-08-25</th>
      <td>350485.6736</td>
    </tr>
    <tr>
      <th>2016-08-26</th>
      <td>377144.7624</td>
    </tr>
    <tr>
      <th>2016-08-27</th>
      <td>379338.5972</td>
    </tr>
    <tr>
      <th>2016-08-28</th>
      <td>384963.5297</td>
    </tr>
    <tr>
      <th>2016-08-29</th>
      <td>377335.3637</td>
    </tr>
    <tr>
      <th>2016-08-30</th>
      <td>348199.6783</td>
    </tr>
    <tr>
      <th>2016-08-31</th>
      <td>488538.5557</td>
    </tr>
  </tbody>
</table>
<p>182 rows × 1 columns</p>
</div>

In [57]:
# 16年9月到12月的数据清洗合成
df2 = pd.DataFrame(pd.read_csv('2016.9.csv',sep = ',',encoding='GBK'))
df2.rename(columns={u'时间':'Date',u'地市':'Place',u'流量（Gb）':'DataflowByDay_4G_GB'},inplace = True)
df2 = df2.groupby(df2['Place'])
for name,groupData in df2:
    if name.encode('utf-8') == '镇江':
        f2 = pd.DataFrame(groupData)
        f2.rename(columns={u'时间':'Date',u'流量（GB）':'DataflowByDay_4G_GB'},inplace = True)
        f2.drop('Place',axis = 1, inplace = True)
        f2 = f2.set_index(pd.to_datetime(f2['Date']))
        f2.drop('Date',axis = 1, inplace = True)

df3 = pd.DataFrame(pd.read_csv('2016.10.csv',sep = ',',encoding='GBK'))
df3.rename(columns={u'时间':'Date',u'地市':'Place',u'流量（Gb）':'DataflowByDay_4G_GB'},inplace = True)
df3 = df3.groupby(df3['Place'])
for name,groupData in df3:
    if name.encode('utf-8') == '镇江':
        f3 = pd.DataFrame(groupData)
        f3.rename(columns={u'时间':'Date',u'流量（GB）':'DataflowByDay_4G_GB'},inplace = True)
        f3.drop('Place',axis = 1, inplace = True)
        f3 = f3.set_index(pd.to_datetime(f3['Date']))
        f3.drop('Date',axis = 1, inplace = True)

df4 = pd.DataFrame(pd.read_csv('2016.11.csv',sep = ',',encoding='GBK'))
df4.rename(columns={u'时间':'Date',u'地市':'Place',u'流量（Gb）':'DataflowByDay_4G_GB'},inplace = True)
df4 = df4.groupby(df4['Place'])
for name,groupData in df4:
    if name.encode('utf-8') == '镇江':
        f4 = pd.DataFrame(groupData)
        f4.rename(columns={u'时间':'Date',u'流量（GB）':'DataflowByDay_4G_GB'},inplace = True)
        f4.drop('Place',axis = 1, inplace = True)
        f4 = f4.set_index(pd.to_datetime(f4['Date']))
        f4.drop('Date',axis = 1, inplace = True)

df5 = pd.DataFrame(pd.read_csv('2016.12.csv',sep = ',',encoding='GBK'))
df5.rename(columns={u'时间':'Date',u'地市':'Place',u'流量（Gb）':'DataflowByDay_4G_GB'},inplace = True)
df5 = df5.groupby(df5['Place'])
for name,groupData in df5:
    if name.encode('utf-8') == '镇江':
        f5 = pd.DataFrame(groupData)
        f5.rename(columns={u'时间':'Date',u'流量（GB）':'DataflowByDay_4G_GB'},inplace = True)
        f5.drop('Place',axis = 1, inplace = True)
        f5 = f5.set_index(pd.to_datetime(f5['Date']))
        f5.drop('Date',axis = 1, inplace = True)
        f6 = pd.concat([f1,f2,f3,f4,f5],ignore_index= False)
        f6 = f6.sort_index()
f6

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DataflowByDay_4G_GB</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-03-01</th>
      <td>240857.8771</td>
    </tr>
    <tr>
      <th>2016-03-02</th>
      <td>248391.7896</td>
    </tr>
    <tr>
      <th>2016-03-03</th>
      <td>253861.2700</td>
    </tr>
    <tr>
      <th>2016-03-04</th>
      <td>257971.5934</td>
    </tr>
    <tr>
      <th>2016-03-05</th>
      <td>255652.5447</td>
    </tr>
    <tr>
      <th>2016-03-06</th>
      <td>248696.6450</td>
    </tr>
    <tr>
      <th>2016-03-07</th>
      <td>251763.7425</td>
    </tr>
    <tr>
      <th>2016-03-08</th>
      <td>266719.3972</td>
    </tr>
    <tr>
      <th>2016-03-09</th>
      <td>248741.6238</td>
    </tr>
    <tr>
      <th>2016-03-10</th>
      <td>253652.6563</td>
    </tr>
    <tr>
      <th>2016-03-11</th>
      <td>252645.3883</td>
    </tr>
    <tr>
      <th>2016-03-12</th>
      <td>267819.0063</td>
    </tr>
    <tr>
      <th>2016-03-13</th>
      <td>264885.3467</td>
    </tr>
    <tr>
      <th>2016-03-14</th>
      <td>258295.3864</td>
    </tr>
    <tr>
      <th>2016-03-15</th>
      <td>264018.4244</td>
    </tr>
    <tr>
      <th>2016-03-16</th>
      <td>271301.6459</td>
    </tr>
    <tr>
      <th>2016-03-17</th>
      <td>275734.7687</td>
    </tr>
    <tr>
      <th>2016-03-18</th>
      <td>287634.6842</td>
    </tr>
    <tr>
      <th>2016-03-19</th>
      <td>277208.9490</td>
    </tr>
    <tr>
      <th>2016-03-20</th>
      <td>264054.0001</td>
    </tr>
    <tr>
      <th>2016-03-21</th>
      <td>261692.1507</td>
    </tr>
    <tr>
      <th>2016-03-22</th>
      <td>265350.2479</td>
    </tr>
    <tr>
      <th>2016-03-23</th>
      <td>270040.1843</td>
    </tr>
    <tr>
      <th>2016-03-24</th>
      <td>281361.5197</td>
    </tr>
    <tr>
      <th>2016-03-25</th>
      <td>276567.0776</td>
    </tr>
    <tr>
      <th>2016-03-26</th>
      <td>274625.4962</td>
    </tr>
    <tr>
      <th>2016-03-27</th>
      <td>265591.9927</td>
    </tr>
    <tr>
      <th>2016-03-28</th>
      <td>254666.4135</td>
    </tr>
    <tr>
      <th>2016-03-29</th>
      <td>266294.2664</td>
    </tr>
    <tr>
      <th>2016-03-30</th>
      <td>278397.0051</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th>2016-12-02</th>
      <td>540875.6978</td>
    </tr>
    <tr>
      <th>2016-12-03</th>
      <td>548294.1503</td>
    </tr>
    <tr>
      <th>2016-12-04</th>
      <td>536951.0174</td>
    </tr>
    <tr>
      <th>2016-12-05</th>
      <td>527627.5820</td>
    </tr>
    <tr>
      <th>2016-12-06</th>
      <td>538641.4180</td>
    </tr>
    <tr>
      <th>2016-12-07</th>
      <td>513645.1551</td>
    </tr>
    <tr>
      <th>2016-12-08</th>
      <td>548841.2830</td>
    </tr>
    <tr>
      <th>2016-12-09</th>
      <td>580930.5466</td>
    </tr>
    <tr>
      <th>2016-12-10</th>
      <td>552229.9401</td>
    </tr>
    <tr>
      <th>2016-12-11</th>
      <td>549590.2838</td>
    </tr>
    <tr>
      <th>2016-12-12</th>
      <td>572375.1610</td>
    </tr>
    <tr>
      <th>2016-12-13</th>
      <td>585151.0659</td>
    </tr>
    <tr>
      <th>2016-12-14</th>
      <td>509424.9216</td>
    </tr>
    <tr>
      <th>2016-12-15</th>
      <td>536498.6166</td>
    </tr>
    <tr>
      <th>2016-12-16</th>
      <td>567952.5966</td>
    </tr>
    <tr>
      <th>2016-12-17</th>
      <td>554344.3347</td>
    </tr>
    <tr>
      <th>2016-12-18</th>
      <td>571332.7258</td>
    </tr>
    <tr>
      <th>2016-12-19</th>
      <td>557996.8127</td>
    </tr>
    <tr>
      <th>2016-12-20</th>
      <td>585781.1128</td>
    </tr>
    <tr>
      <th>2016-12-21</th>
      <td>612077.1094</td>
    </tr>
    <tr>
      <th>2016-12-22</th>
      <td>607253.6588</td>
    </tr>
    <tr>
      <th>2016-12-23</th>
      <td>625033.3480</td>
    </tr>
    <tr>
      <th>2016-12-24</th>
      <td>612363.4007</td>
    </tr>
    <tr>
      <th>2016-12-25</th>
      <td>618805.2442</td>
    </tr>
    <tr>
      <th>2016-12-26</th>
      <td>603076.0240</td>
    </tr>
    <tr>
      <th>2016-12-27</th>
      <td>569784.9009</td>
    </tr>
    <tr>
      <th>2016-12-28</th>
      <td>569416.5507</td>
    </tr>
    <tr>
      <th>2016-12-29</th>
      <td>590053.6495</td>
    </tr>
    <tr>
      <th>2016-12-30</th>
      <td>625374.7890</td>
    </tr>
    <tr>
      <th>2016-12-31</th>
      <td>697521.8987</td>
    </tr>
  </tbody>
</table>
<p>300 rows × 1 columns</p>
</div>

In [58]:
#对17年1月到12月数据进行清理合并
df6 = pd.DataFrame(pd.read_csv('20171215104003644.csv',sep = ',',encoding='GBK',usecols=[0,1,7]))
df6.rename(columns={u'时间':'Date',u'地市名称':'Place',u'LTE总流量(Gb)':'DataflowByDay_4G_GB'},inplace = True)
df7 = df6.groupby('Place')
for name,groupData in df7:
    if name.encode('utf-8') == '镇江':
        df8 = pd.DataFrame(groupData)
        df8.drop('Place',axis = 1, inplace = True)
        df9 = df8.set_index(pd.to_datetime(df8['Date']))
        df9.drop('Date',axis = 1, inplace = True)
        df10 = df9.sort_index()
        df11 = df10.resample('D',how='sum')
        df12 = df11[df11.index<'2017-12-15']
df13 = pd.concat([f6,df12],ignore_index= False)
df13

C:\Users\cmcc\Anaconda2\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  if sys.path[0] == '':

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DataflowByDay_4G_GB</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-03-01</th>
      <td>240857.8771</td>
    </tr>
    <tr>
      <th>2016-03-02</th>
      <td>248391.7896</td>
    </tr>
    <tr>
      <th>2016-03-03</th>
      <td>253861.2700</td>
    </tr>
    <tr>
      <th>2016-03-04</th>
      <td>257971.5934</td>
    </tr>
    <tr>
      <th>2016-03-05</th>
      <td>255652.5447</td>
    </tr>
    <tr>
      <th>2016-03-06</th>
      <td>248696.6450</td>
    </tr>
    <tr>
      <th>2016-03-07</th>
      <td>251763.7425</td>
    </tr>
    <tr>
      <th>2016-03-08</th>
      <td>266719.3972</td>
    </tr>
    <tr>
      <th>2016-03-09</th>
      <td>248741.6238</td>
    </tr>
    <tr>
      <th>2016-03-10</th>
      <td>253652.6563</td>
    </tr>
    <tr>
      <th>2016-03-11</th>
      <td>252645.3883</td>
    </tr>
    <tr>
      <th>2016-03-12</th>
      <td>267819.0063</td>
    </tr>
    <tr>
      <th>2016-03-13</th>
      <td>264885.3467</td>
    </tr>
    <tr>
      <th>2016-03-14</th>
      <td>258295.3864</td>
    </tr>
    <tr>
      <th>2016-03-15</th>
      <td>264018.4244</td>
    </tr>
    <tr>
      <th>2016-03-16</th>
      <td>271301.6459</td>
    </tr>
    <tr>
      <th>2016-03-17</th>
      <td>275734.7687</td>
    </tr>
    <tr>
      <th>2016-03-18</th>
      <td>287634.6842</td>
    </tr>
    <tr>
      <th>2016-03-19</th>
      <td>277208.9490</td>
    </tr>
    <tr>
      <th>2016-03-20</th>
      <td>264054.0001</td>
    </tr>
    <tr>
      <th>2016-03-21</th>
      <td>261692.1507</td>
    </tr>
    <tr>
      <th>2016-03-22</th>
      <td>265350.2479</td>
    </tr>
    <tr>
      <th>2016-03-23</th>
      <td>270040.1843</td>
    </tr>
    <tr>
      <th>2016-03-24</th>
      <td>281361.5197</td>
    </tr>
    <tr>
      <th>2016-03-25</th>
      <td>276567.0776</td>
    </tr>
    <tr>
      <th>2016-03-26</th>
      <td>274625.4962</td>
    </tr>
    <tr>
      <th>2016-03-27</th>
      <td>265591.9927</td>
    </tr>
    <tr>
      <th>2016-03-28</th>
      <td>254666.4135</td>
    </tr>
    <tr>
      <th>2016-03-29</th>
      <td>266294.2664</td>
    </tr>
    <tr>
      <th>2016-03-30</th>
      <td>278397.0051</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th>2017-11-15</th>
      <td>995583.5550</td>
    </tr>
    <tr>
      <th>2017-11-16</th>
      <td>1008945.8508</td>
    </tr>
    <tr>
      <th>2017-11-17</th>
      <td>1072018.0147</td>
    </tr>
    <tr>
      <th>2017-11-18</th>
      <td>1008846.5083</td>
    </tr>
    <tr>
      <th>2017-11-19</th>
      <td>979235.4723</td>
    </tr>
    <tr>
      <th>2017-11-20</th>
      <td>942050.9476</td>
    </tr>
    <tr>
      <th>2017-11-21</th>
      <td>989493.6961</td>
    </tr>
    <tr>
      <th>2017-11-22</th>
      <td>989988.5040</td>
    </tr>
    <tr>
      <th>2017-11-23</th>
      <td>1020556.7526</td>
    </tr>
    <tr>
      <th>2017-11-24</th>
      <td>1025558.8037</td>
    </tr>
    <tr>
      <th>2017-11-25</th>
      <td>1036180.8956</td>
    </tr>
    <tr>
      <th>2017-11-26</th>
      <td>1048452.5314</td>
    </tr>
    <tr>
      <th>2017-11-27</th>
      <td>983252.5755</td>
    </tr>
    <tr>
      <th>2017-11-28</th>
      <td>1059196.6951</td>
    </tr>
    <tr>
      <th>2017-11-29</th>
      <td>1073022.7696</td>
    </tr>
    <tr>
      <th>2017-11-30</th>
      <td>1195483.5785</td>
    </tr>
    <tr>
      <th>2017-12-01</th>
      <td>1200892.7719</td>
    </tr>
    <tr>
      <th>2017-12-02</th>
      <td>1212181.0838</td>
    </tr>
    <tr>
      <th>2017-12-03</th>
      <td>1212339.8996</td>
    </tr>
    <tr>
      <th>2017-12-04</th>
      <td>1177080.0607</td>
    </tr>
    <tr>
      <th>2017-12-05</th>
      <td>1185128.8156</td>
    </tr>
    <tr>
      <th>2017-12-06</th>
      <td>1188169.9936</td>
    </tr>
    <tr>
      <th>2017-12-07</th>
      <td>1242194.1650</td>
    </tr>
    <tr>
      <th>2017-12-08</th>
      <td>1276483.4961</td>
    </tr>
    <tr>
      <th>2017-12-09</th>
      <td>1263019.5569</td>
    </tr>
    <tr>
      <th>2017-12-10</th>
      <td>1268748.5483</td>
    </tr>
    <tr>
      <th>2017-12-11</th>
      <td>1227205.4361</td>
    </tr>
    <tr>
      <th>2017-12-12</th>
      <td>1231939.6059</td>
    </tr>
    <tr>
      <th>2017-12-13</th>
      <td>1324408.0707</td>
    </tr>
    <tr>
      <th>2017-12-14</th>
      <td>1276318.0891</td>
    </tr>
  </tbody>
</table>
<p>648 rows × 1 columns</p>
</div>

In [59]:
df13.loc[df13.index =='2016-11-10','DataflowByDay_4G_GB'].values[0] = (df13['2016-11-09':'2016-11-11'].sum()/2).values[0]
df13.to_csv(u'C:\Jupyter WorkSpace\JiangSu Dataflow\lstm\Data Set\Arima预测\oridata13.csv',encoding='utf-8')

In [43]:
type(df13.loc[df13.index =='2016-11-10','DataflowByDay_4G_GB'].values[0]) 
type((df13['2016-11-09':'2016-11-11'].sum()/2).values[0])

numpy.float64

In [30]:
#整理lstm训练数据
df14 = df13.groupby(pd.TimeGrouper("M"))
y = []
x = 0
for i,j in list(df14):
    if x <len(df14):
        if '04-30' in str(i) or '06-30' in str(i) or '04-30' in str(i) or '09-30' in str(i) or '11-30' in str(i): 
            df6 = pd.DataFrame(list(df14)[x][1])
            df7 = df6.iloc[-1:,[0]]
            y.append(df6.append(df7))
        elif '02-28' in str(i):
            df6 = pd.DataFrame(list(df14)[x][1])
            df7 = df6.iloc[-1:,[0]]
            df8 = df6.append(df7)
            df9 = df8.append(df7)
            df10 = df9.append(df7)
            y.append(df10)
        else:
            y.append(list(df14)[x][1])
        x = x + 1
    else:
        break
df15 = pd.concat(y,ignore_index=False)  
# df15.to_excel('data00.xlsx',encoding='utf-8')
df15

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DataflowByDay_4G_GB</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-03-01</th>
      <td>532985.3589</td>
    </tr>
    <tr>
      <th>2016-03-02</th>
      <td>546156.5775</td>
    </tr>
    <tr>
      <th>2016-03-03</th>
      <td>552878.5322</td>
    </tr>
    <tr>
      <th>2016-03-04</th>
      <td>555899.6511</td>
    </tr>
    <tr>
      <th>2016-03-05</th>
      <td>550007.2824</td>
    </tr>
    <tr>
      <th>2016-03-06</th>
      <td>539713.8519</td>
    </tr>
    <tr>
      <th>2016-03-07</th>
      <td>539463.9663</td>
    </tr>
    <tr>
      <th>2016-03-08</th>
      <td>588870.4819</td>
    </tr>
    <tr>
      <th>2016-03-09</th>
      <td>544241.5928</td>
    </tr>
    <tr>
      <th>2016-03-10</th>
      <td>550678.4574</td>
    </tr>
    <tr>
      <th>2016-03-11</th>
      <td>532771.9356</td>
    </tr>
    <tr>
      <th>2016-03-12</th>
      <td>556170.3478</td>
    </tr>
    <tr>
      <th>2016-03-13</th>
      <td>555035.5803</td>
    </tr>
    <tr>
      <th>2016-03-14</th>
      <td>541001.5027</td>
    </tr>
    <tr>
      <th>2016-03-15</th>
      <td>545878.3762</td>
    </tr>
    <tr>
      <th>2016-03-16</th>
      <td>561391.9118</td>
    </tr>
    <tr>
      <th>2016-03-17</th>
      <td>565232.9796</td>
    </tr>
    <tr>
      <th>2016-03-18</th>
      <td>596496.9592</td>
    </tr>
    <tr>
      <th>2016-03-19</th>
      <td>578088.4203</td>
    </tr>
    <tr>
      <th>2016-03-20</th>
      <td>544088.4371</td>
    </tr>
    <tr>
      <th>2016-03-21</th>
      <td>540990.5646</td>
    </tr>
    <tr>
      <th>2016-03-22</th>
      <td>557729.2477</td>
    </tr>
    <tr>
      <th>2016-03-23</th>
      <td>568118.2154</td>
    </tr>
    <tr>
      <th>2016-03-24</th>
      <td>589446.4222</td>
    </tr>
    <tr>
      <th>2016-03-25</th>
      <td>564722.8255</td>
    </tr>
    <tr>
      <th>2016-03-26</th>
      <td>569050.9686</td>
    </tr>
    <tr>
      <th>2016-03-27</th>
      <td>545899.7847</td>
    </tr>
    <tr>
      <th>2016-03-28</th>
      <td>527247.1289</td>
    </tr>
    <tr>
      <th>2016-03-29</th>
      <td>560684.2269</td>
    </tr>
    <tr>
      <th>2016-03-30</th>
      <td>566114.6426</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th>2017-11-16</th>
      <td>2675799.0907</td>
    </tr>
    <tr>
      <th>2017-11-17</th>
      <td>2766636.3801</td>
    </tr>
    <tr>
      <th>2017-11-18</th>
      <td>2402504.6986</td>
    </tr>
    <tr>
      <th>2017-11-19</th>
      <td>2151019.5893</td>
    </tr>
    <tr>
      <th>2017-11-20</th>
      <td>2381565.0187</td>
    </tr>
    <tr>
      <th>2017-11-21</th>
      <td>2572431.9172</td>
    </tr>
    <tr>
      <th>2017-11-22</th>
      <td>2572226.9482</td>
    </tr>
    <tr>
      <th>2017-11-23</th>
      <td>2609344.6815</td>
    </tr>
    <tr>
      <th>2017-11-24</th>
      <td>2582888.6784</td>
    </tr>
    <tr>
      <th>2017-11-25</th>
      <td>2651143.2237</td>
    </tr>
    <tr>
      <th>2017-11-26</th>
      <td>2661324.9442</td>
    </tr>
    <tr>
      <th>2017-11-27</th>
      <td>2517274.6890</td>
    </tr>
    <tr>
      <th>2017-11-28</th>
      <td>2730985.8627</td>
    </tr>
    <tr>
      <th>2017-11-29</th>
      <td>2822424.7610</td>
    </tr>
    <tr>
      <th>2017-11-30</th>
      <td>3010219.6854</td>
    </tr>
    <tr>
      <th>2017-11-30</th>
      <td>3010219.6854</td>
    </tr>
    <tr>
      <th>2017-12-01</th>
      <td>2589303.1839</td>
    </tr>
    <tr>
      <th>2017-12-02</th>
      <td>2617844.7611</td>
    </tr>
    <tr>
      <th>2017-12-03</th>
      <td>2687764.3425</td>
    </tr>
    <tr>
      <th>2017-12-04</th>
      <td>2622194.5785</td>
    </tr>
    <tr>
      <th>2017-12-05</th>
      <td>2624710.2471</td>
    </tr>
    <tr>
      <th>2017-12-06</th>
      <td>2667029.1743</td>
    </tr>
    <tr>
      <th>2017-12-07</th>
      <td>2730015.1859</td>
    </tr>
    <tr>
      <th>2017-12-08</th>
      <td>2776468.7513</td>
    </tr>
    <tr>
      <th>2017-12-09</th>
      <td>2768685.9025</td>
    </tr>
    <tr>
      <th>2017-12-10</th>
      <td>2750195.0909</td>
    </tr>
    <tr>
      <th>2017-12-11</th>
      <td>2692862.0061</td>
    </tr>
    <tr>
      <th>2017-12-12</th>
      <td>2747786.6474</td>
    </tr>
    <tr>
      <th>2017-12-13</th>
      <td>2955889.4670</td>
    </tr>
    <tr>
      <th>2017-12-14</th>
      <td>2858649.2513</td>
    </tr>
  </tbody>
</table>
<p>659 rows × 1 columns</p>
</div>

In [31]:
df15.loc[df15['DataflowByDay_4G_GB'] == 0]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DataflowByDay_4G_GB</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-11-10</th>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [32]:
df15['2016-11-09':'2016-11-11'].sum()/2
# df15['2016-09-13':'2016-09-15'].sum()/2
# df15['2016-11-29':'2016-11-29'].sum()

DataflowByDay_4G_GB    1185474.799
dtype: float64

In [33]:
df15.loc[df15.index =='2016-11-10','DataflowByDay_4G_GB'] = float(df15['2016-11-09':'2016-11-11'].sum()/2)
# df15.loc[df15.index =='2016-09-14','DataflowByDay_4G_GB'] = float(df15['2016-09-13':'2016-09-15'].sum()/2)
# df15.loc[df15.index =='2016-11-30','DataflowByDay_4G_GB'] = float(df15['2016-11-29':'2016-11-29'].sum())

In [34]:
df15.loc[df15.index =='2016-11-10','DataflowByDay_4G_GB']
df15[df15.index == '2016-11-10']
# df15[df15.index == '2016-09-14']
# df15[df15.index == '2016-11-30']

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DataflowByDay_4G_GB</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-11-10</th>
      <td>1185474.799</td>
    </tr>
  </tbody>
</table>
</div>

In [35]:
df15.to_excel('data05.xlsx')

In [36]:
df15

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DataflowByDay_4G_GB</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-03-01</th>
      <td>532985.3589</td>
    </tr>
    <tr>
      <th>2016-03-02</th>
      <td>546156.5775</td>
    </tr>
    <tr>
      <th>2016-03-03</th>
      <td>552878.5322</td>
    </tr>
    <tr>
      <th>2016-03-04</th>
      <td>555899.6511</td>
    </tr>
    <tr>
      <th>2016-03-05</th>
      <td>550007.2824</td>
    </tr>
    <tr>
      <th>2016-03-06</th>
      <td>539713.8519</td>
    </tr>
    <tr>
      <th>2016-03-07</th>
      <td>539463.9663</td>
    </tr>
    <tr>
      <th>2016-03-08</th>
      <td>588870.4819</td>
    </tr>
    <tr>
      <th>2016-03-09</th>
      <td>544241.5928</td>
    </tr>
    <tr>
      <th>2016-03-10</th>
      <td>550678.4574</td>
    </tr>
    <tr>
      <th>2016-03-11</th>
      <td>532771.9356</td>
    </tr>
    <tr>
      <th>2016-03-12</th>
      <td>556170.3478</td>
    </tr>
    <tr>
      <th>2016-03-13</th>
      <td>555035.5803</td>
    </tr>
    <tr>
      <th>2016-03-14</th>
      <td>541001.5027</td>
    </tr>
    <tr>
      <th>2016-03-15</th>
      <td>545878.3762</td>
    </tr>
    <tr>
      <th>2016-03-16</th>
      <td>561391.9118</td>
    </tr>
    <tr>
      <th>2016-03-17</th>
      <td>565232.9796</td>
    </tr>
    <tr>
      <th>2016-03-18</th>
      <td>596496.9592</td>
    </tr>
    <tr>
      <th>2016-03-19</th>
      <td>578088.4203</td>
    </tr>
    <tr>
      <th>2016-03-20</th>
      <td>544088.4371</td>
    </tr>
    <tr>
      <th>2016-03-21</th>
      <td>540990.5646</td>
    </tr>
    <tr>
      <th>2016-03-22</th>
      <td>557729.2477</td>
    </tr>
    <tr>
      <th>2016-03-23</th>
      <td>568118.2154</td>
    </tr>
    <tr>
      <th>2016-03-24</th>
      <td>589446.4222</td>
    </tr>
    <tr>
      <th>2016-03-25</th>
      <td>564722.8255</td>
    </tr>
    <tr>
      <th>2016-03-26</th>
      <td>569050.9686</td>
    </tr>
    <tr>
      <th>2016-03-27</th>
      <td>545899.7847</td>
    </tr>
    <tr>
      <th>2016-03-28</th>
      <td>527247.1289</td>
    </tr>
    <tr>
      <th>2016-03-29</th>
      <td>560684.2269</td>
    </tr>
    <tr>
      <th>2016-03-30</th>
      <td>566114.6426</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th>2017-11-16</th>
      <td>2675799.0907</td>
    </tr>
    <tr>
      <th>2017-11-17</th>
      <td>2766636.3801</td>
    </tr>
    <tr>
      <th>2017-11-18</th>
      <td>2402504.6986</td>
    </tr>
    <tr>
      <th>2017-11-19</th>
      <td>2151019.5893</td>
    </tr>
    <tr>
      <th>2017-11-20</th>
      <td>2381565.0187</td>
    </tr>
    <tr>
      <th>2017-11-21</th>
      <td>2572431.9172</td>
    </tr>
    <tr>
      <th>2017-11-22</th>
      <td>2572226.9482</td>
    </tr>
    <tr>
      <th>2017-11-23</th>
      <td>2609344.6815</td>
    </tr>
    <tr>
      <th>2017-11-24</th>
      <td>2582888.6784</td>
    </tr>
    <tr>
      <th>2017-11-25</th>
      <td>2651143.2237</td>
    </tr>
    <tr>
      <th>2017-11-26</th>
      <td>2661324.9442</td>
    </tr>
    <tr>
      <th>2017-11-27</th>
      <td>2517274.6890</td>
    </tr>
    <tr>
      <th>2017-11-28</th>
      <td>2730985.8627</td>
    </tr>
    <tr>
      <th>2017-11-29</th>
      <td>2822424.7610</td>
    </tr>
    <tr>
      <th>2017-11-30</th>
      <td>3010219.6854</td>
    </tr>
    <tr>
      <th>2017-11-30</th>
      <td>3010219.6854</td>
    </tr>
    <tr>
      <th>2017-12-01</th>
      <td>2589303.1839</td>
    </tr>
    <tr>
      <th>2017-12-02</th>
      <td>2617844.7611</td>
    </tr>
    <tr>
      <th>2017-12-03</th>
      <td>2687764.3425</td>
    </tr>
    <tr>
      <th>2017-12-04</th>
      <td>2622194.5785</td>
    </tr>
    <tr>
      <th>2017-12-05</th>
      <td>2624710.2471</td>
    </tr>
    <tr>
      <th>2017-12-06</th>
      <td>2667029.1743</td>
    </tr>
    <tr>
      <th>2017-12-07</th>
      <td>2730015.1859</td>
    </tr>
    <tr>
      <th>2017-12-08</th>
      <td>2776468.7513</td>
    </tr>
    <tr>
      <th>2017-12-09</th>
      <td>2768685.9025</td>
    </tr>
    <tr>
      <th>2017-12-10</th>
      <td>2750195.0909</td>
    </tr>
    <tr>
      <th>2017-12-11</th>
      <td>2692862.0061</td>
    </tr>
    <tr>
      <th>2017-12-12</th>
      <td>2747786.6474</td>
    </tr>
    <tr>
      <th>2017-12-13</th>
      <td>2955889.4670</td>
    </tr>
    <tr>
      <th>2017-12-14</th>
      <td>2858649.2513</td>
    </tr>
  </tbody>
</table>
<p>659 rows × 1 columns</p>
</div>